<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohao.wjjw.dao.TDriverSalaryMapper">
  <resultMap id="BaseResultMap" type="com.guohao.wjjw.entity.TDriverSalary">
    <id column="pay_order_id" jdbcType="INTEGER" property="payOrderId" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="one-time_pay" jdbcType="INTEGER" property="oneTimePay" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="leave_date" jdbcType="DATE" property="leaveDate" />
    <result column="leave_time" jdbcType="INTEGER" property="leaveTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_driver_salary
    where pay_order_id = #{payOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guohao.wjjw.entity.TDriverSalary">
    insert into t_driver_salary (pay_order_id, driver_id, one-time_pay, 
      date, remarks, leave_date, 
      leave_time)
    values (#{payOrderId,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}, #{oneTimePay,jdbcType=INTEGER}, 
      #{date,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{leaveDate,jdbcType=DATE}, 
      #{leaveTime,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guohao.wjjw.entity.TDriverSalary">
    update t_driver_salary
    set driver_id = #{driverId,jdbcType=INTEGER},
      one-time_pay = #{oneTimePay,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      leave_date = #{leaveDate,jdbcType=DATE},
      leave_time = #{leaveTime,jdbcType=INTEGER}
    where pay_order_id = #{payOrderId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select pay_order_id, driver_id, one-time_pay, date, remarks, leave_date, leave_time
    from t_driver_salary
    where pay_order_id = #{payOrderId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select pay_order_id, driver_id, one-time_pay, date, remarks, leave_date, leave_time
    from t_driver_salary
  </select>
  <resultMap id="BaseResultMap" type="com.guohao.wjjw.entity.TDriverSalary">
    <result column="pay_order_id" jdbcType="INTEGER" property="payOrderId" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="one-time_pay" jdbcType="INTEGER" property="oneTimePay" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="leave_date" jdbcType="DATE" property="leaveDate" />
    <result column="leave_time" jdbcType="INTEGER" property="leaveTime" />
  </resultMap>
  <insert id="insert" parameterType="com.guohao.wjjw.entity.TDriverSalary">
    insert into t_driver_salary (pay_order_id, driver_id, one-time_pay, 
      date, remarks, leave_date, 
      leave_time)
    values (#{payOrderId,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}, #{oneTimePay,jdbcType=INTEGER}, 
      #{date,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{leaveDate,jdbcType=DATE}, 
      #{leaveTime,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select pay_order_id, driver_id, one-time_pay, date, remarks, leave_date, leave_time
    from t_driver_salary
  </select>
  <resultMap id="BaseResultMap" type="com.guohao.wjjw.entity.TDriverSalary">
    <result column="pay_order_id" jdbcType="INTEGER" property="payOrderId" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="one-time_pay" jdbcType="INTEGER" property="oneTimePay" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="leave_date" jdbcType="DATE" property="leaveDate" />
    <result column="leave_time" jdbcType="INTEGER" property="leaveTime" />
  </resultMap>
  <insert id="insert" parameterType="com.guohao.wjjw.entity.TDriverSalary">
    insert into t_driver_salary (pay_order_id, driver_id, one-time_pay, 
      date, remarks, leave_date, 
      leave_time)
    values (#{payOrderId,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}, #{oneTimePay,jdbcType=INTEGER}, 
      #{date,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{leaveDate,jdbcType=DATE}, 
      #{leaveTime,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select pay_order_id, driver_id, one-time_pay, date, remarks, leave_date, leave_time
    from t_driver_salary
  </select>
</mapper>