<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohao.wjjw.dao.MachineDao">
  <resultMap id="BaseResultMap" type="com.guohao.wjjw.entity.Machine">
    <id column="machine_id" jdbcType="INTEGER" property="machineId" />
    <result column="model_number" jdbcType="INTEGER" property="modelNumber" />
    <result column="boss_id" jdbcType="INTEGER" property="bossId" />
    <result column="buying_price" jdbcType="INTEGER" property="buyingPrice" />
    <result column="purchasing_date" jdbcType="DATE" property="purchasingDate" />
    <result column="usage_time" jdbcType="INTEGER" property="usageTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_machine
    where machine_id = #{machineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guohao.wjjw.entity.Machine">
    insert into t_machine (machine_id, model_number, boss_id, 
      buying_price, purchasing_date, usage_time
      )
    values (#{machineId,jdbcType=INTEGER}, #{modelNumber,jdbcType=INTEGER}, #{bossId,jdbcType=INTEGER}, 
      #{buyingPrice,jdbcType=INTEGER}, #{purchasingDate,jdbcType=DATE}, #{usageTime,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guohao.wjjw.entity.Machine">
    update t_machine
    set model_number = #{modelNumber,jdbcType=INTEGER},
      boss_id = #{bossId,jdbcType=INTEGER},
      buying_price = #{buyingPrice,jdbcType=INTEGER},
      purchasing_date = #{purchasingDate,jdbcType=DATE},
      usage_time = #{usageTime,jdbcType=INTEGER}
    where machine_id = #{machineId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select machine_id, model_number, boss_id, buying_price, purchasing_date, usage_time
    from t_machine
    where machine_id = #{machineId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select machine_id, model_number, boss_id, buying_price, purchasing_date, usage_time
    from t_machine
  </select>
  <resultMap id="BaseResultMap" type="com.guohao.wjjw.entity.Machine">
    <result column="machine_id" jdbcType="INTEGER" property="machineId" />
    <result column="model_number" jdbcType="INTEGER" property="modelNumber" />
    <result column="boss_id" jdbcType="INTEGER" property="bossId" />
    <result column="buying_price" jdbcType="INTEGER" property="buyingPrice" />
    <result column="purchasing_date" jdbcType="DATE" property="purchasingDate" />
    <result column="usage_time" jdbcType="INTEGER" property="usageTime" />
  </resultMap>
  <insert id="insert" parameterType="com.guohao.wjjw.entity.Machine">
    insert into t_machine (machine_id, model_number, boss_id, 
      buying_price, purchasing_date, usage_time
      )
    values (#{machineId,jdbcType=INTEGER}, #{modelNumber,jdbcType=INTEGER}, #{bossId,jdbcType=INTEGER}, 
      #{buyingPrice,jdbcType=INTEGER}, #{purchasingDate,jdbcType=DATE}, #{usageTime,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select machine_id, model_number, boss_id, buying_price, purchasing_date, usage_time
    from t_machine
  </select>
  <resultMap id="BaseResultMap" type="com.guohao.wjjw.entity.Machine">
    <result column="machine_id" jdbcType="INTEGER" property="machineId" />
    <result column="model_number" jdbcType="INTEGER" property="modelNumber" />
    <result column="boss_id" jdbcType="INTEGER" property="bossId" />
    <result column="buying_price" jdbcType="INTEGER" property="buyingPrice" />
    <result column="purchasing_date" jdbcType="DATE" property="purchasingDate" />
    <result column="usage_time" jdbcType="INTEGER" property="usageTime" />
  </resultMap>
  <insert id="insert" parameterType="com.guohao.wjjw.entity.Machine">
    insert into t_machine (machine_id, model_number, boss_id, 
      buying_price, purchasing_date, usage_time
      )
    values (#{machineId,jdbcType=INTEGER}, #{modelNumber,jdbcType=INTEGER}, #{bossId,jdbcType=INTEGER}, 
      #{buyingPrice,jdbcType=INTEGER}, #{purchasingDate,jdbcType=DATE}, #{usageTime,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select machine_id, model_number, boss_id, buying_price, purchasing_date, usage_time
    from t_machine
  </select>
</mapper>